/* Light Mode */
body.light-mode {
    background: #e0f7fa;
    color: #000;
  }
  
  body.light-mode .calculator {
    background: #fff;
    border: 1px solid #ddd;
  }
  
  body.light-mode .btn {
    background-color: #e0f7fa;
  }
  
  body.light-mode .btn:hover {
    background-color: #b2ebf2;
  }
  
  body.light-mode .btn:active {
    background-color: #80deea;
  }
  
  body.light-mode .btn-red {
    background-color: #ffab91;
  }
  
  body.light-mode .btn-red:hover {
    background-color: #ff8a65;
  }
  
  body.light-mode .btn-red:active {
    background-color: #ff7043;
  }
  
  body.light-mode .btn-blue {
    background-color: #81d4fa;
  }
  
  body.light-mode .btn-blue:hover {
    background-color: #4fc3f7;
  }
  
  body.light-mode .btn-blue:active {
    background-color: #29b6f6;
  }
  
  /* Dark Mode */
  body.dark-mode {
    background: #121212;
    color: #fff;
  }
  
  body.dark-mode .calculator {
    background: #1e1e1e;
    border: 1px solid #333;
  }
  
  body.dark-mode .btn {
    background-color: #333;
  }
  
  body.dark-mode .btn:hover {
    background-color: #555;
  }
  
  body.dark-mode .btn:active {
    background-color: #777;
  }
  
  body.dark-mode .btn-red {
    background-color: #d32f2f;
  }
  
  body.dark-mode .btn-red:hover {
    background-color: #b71c1c;
  }
  
  body.dark-mode .btn-red:active {
    background-color: #c62828;
  }
  
  body.dark-mode .btn-blue {
    background-color: #1976d2;
  }
  
  body.dark-mode .btn-blue:hover {
    background-color: #1565c0;
  }
  
  body.dark-mode .btn-blue:active {
    background-color: #0d47a1;
  }
  
  /* Button Styles */
  #modeToggle {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
  }
  
  body.dark-mode #modeToggle {
    background-color: #333;
    color: #fff;
  }
  
  body.dark-mode #modeToggle:hover {
    background-color: #444;
  }
  
  #sunIcon, #moonIcon {
    display: none;
    color: inherit;
  }
  
  body.light-mode #sunIcon {
    display: block;
  }
  
  body.dark-mode #moonIcon {
    display: block;
  }
  
  /* COMMON */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    /* footer support */
    position: relative;
    min-height: 100%;
  }
  
  body {
    background-color: var(--background);
    color: var(--font);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    /* footer support */
    margin-bottom: 100px;
  }
  
  button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
  }
  
  /* MAIN */
  
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
  }
  
  .calculator {
    width: 400px;
    border: 2px var(--border) solid;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--calculator);
  }
  
  .screen {
    padding: 10px 20px;
    border: 2px var(--border) solid;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: var(--screen);
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .screen-last {
    min-height: 32px;
    font-size: 20px;
  }
  
  .screen-current {
    min-height: 64px;
    font-size: 40px;
  }
  
  .buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .span-2 {
    grid-column: span 2;
  }
  
  .btn {
    padding: 20px;
    border: 2px var(--border) solid;
    border-radius: 5px;
    background-color: var(--btn);
    font-size: 20px;
  }
  
  .btn:hover {
    background-color: var(--btn-hover);
  }
  
  .btn:active {
    background-color: var(--btn-active);
  }
  
  .btn-red {
    background-color: var(--btn-red);
  }
  
  .btn-red:hover {
    background-color: var(--btn-red-hover);
  }
  
  .btn-red:active {
    background-color: var(--btn-red-active);
  }
  
  .btn-blue {
    background-color: var(--btn-blue);
  }
  
  .btn-blue:hover {
    background-color: var(--btn-blue-hover);
  }
  
  .btn-blue:active {
    background-color: var(--btn-blue-active);
  }
  
  /* Disables input spinners in calc screen */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  